includes:
	- vendor/phpstan/phpstan-symfony/extension.neon
parameters:
	inferPrivatePropertyTypeFromConstructor: true
	earlyTerminatingMethodCalls:
	    SharedBundle\CommandHandling\MessengerQueryBus:
	        - throwException
	ignoreErrors:
	    - identifier: missingType.iterableValue
	    - identifier: missingType.generics